@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.btn-primary {
  @apply bg-purple text-white font-medium px-5 py-2 rounded
             hover:bg-black
 }

 .btn-gray {
  @apply bg-gray text-white font-medium px-5 py-2 rounded
              hover:bg-purple-light 
 }